body {
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    background-color: #ff2c2c;
    color: #FFFFFF;
}

.container {
    margin: 0 auto;
    width: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

#logo-nav {
    width: 100px;
    height: 60px;
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 300px;
    list-style: none;
    font-size: 24px;
    align-items: center;
}

#hero-img {
    width: 774px;
    height: 314px;
}

h1 {
    font-size: 70px;
    text-align: center;
    width: 1000px;
}

#hero-btn {
    width: 300px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-text {
    font-size: 30px;
    color: #000000;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.about-p {
    font-size: 24px;
    font-weight: 200;
    margin: 0;
}

.about-h2 {
    font-size: 48px;
    max-width: 600px;
    margin: 0;
}

.about-sub-p {
    font-size: 24px;
    max-width: 550px;
    margin-top: 20px;
}

#about-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    gap: 100px;
}

section {
    display: flex;
    flex-direction: row;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.text {
    gap: 200px;
}

.card {
    margin-left: 200px;
}

#card-left {
    margin-right: 200px;
}

#left-p {
    width: 500px;
}

#download {
    background-color: #FFFFFF;
    color: #000;
    width: 1000px;
    height: 500px;
    margin-left: 400px;
    border-radius: 20px;
}

#download-btn {
    background-color: #000000;
    width: 300px;
    border-radius: 100px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
}

#download-btn p {
    letter-spacing: 5px;
    font-weight: 500;
}

#download-wrapper h1 {
    font-size: 70px;
    margin-top: 0;
}

#download-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#github-logo {
    width: 50px;
    height: 50px;
}

#instruction-manual {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

#instruction-manual h1 {
    margin-bottom: 0;
    margin-top: 100px;
    font-size: 57px;
}

.section-second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-second {
    width: 500px;
    margin-right: 40px;
}


.about-p-second {
    font-size: 24px;
    font-weight: 200;
    margin: 0;
    margin-bottom: 10px;
}

.about-h2-second {
    font-size: 40px;
    max-width: 500px;
    margin: 0;
}

.about-sub-p-second {
    font-size: 24px;
    max-width: 550px;
    margin-top: 20px;
    line-height: 40px;
    text-align: center;
}

#question-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

#question-sec h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 100px;
    font-size: 57px;
    width: max-content;
}

#question-sec-wrapper {
    align-self: start;
    font-size: 24px;
    font-weight: 200;
}

#email-input {
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    width: 540px;
    height: 32px;
}

#text-input {
    width: 1000px;
    height: 200px;
    border: none;
    border-radius: 20px;
}

#submit-btn {
    background-color: white;
    border: none;
    border-radius: 100px;
    width: 300px;
    height: 60px;
    margin-top: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 100px;
}

#footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

#logo-footer {
    width: 100px;
    height: 60px;
    margin-top: 20px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    font-size: 24px;
}

#arrow-up {
    width: 80px;
    height: 80px;
    align-self: center;
    margin-top: 10px;
}

#back-to-top {
    margin-left: 800px;
    margin-top: 170px;
    background-color: #FFFFFF;
    height: min-content;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}


@media (max-width: 645px ) {

    body {
        margin-right: 0;
        margin-left: 0;
        width: 375px;
    }

    .container {
        width: 300px;
        padding: 0 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        margin: 0;
    }

    nav {
        justify-content: space-between;
        padding: 20px;
        padding-right: 0;
        gap: 350px;
        width: 100%;
    }

    

    nav li {
        display: none;
    }



    #nav-links.active {
        display: flex;
    }

    #hamburger-menu {
        display: flex;
    }

    nav ul {
        gap: 0;
        font-size: 20px;
    }

    #hero-section {
        margin-left: 80px;
        width: 120%;
    }

    #hero-img {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 40px;
        width: 100%;
    }

    section {
        flex-direction: column !important;
        align-items: center;
        text-align: center;
        margin-left: 210px;
    }

    #about-sec-right {
        display: flex;
        flex-direction: column-reverse;
    }

    .text {
        gap: 50px;
    }

    .text,
    .wrapper,
    .card,
    #card-left {
        margin: 0;
    }

    .about-h2 {
        font-size: 30px;
        width: 400px;
    }

    .about-sub-p {
        font-size: 20px;
        width: 300px;
    }

    #left-p {
        width: 300px;
    }

    

    #download {
        width: 150%;
        height: 10%;
        margin: 40px 0;
        margin-left: 50px;
        display: flex;
        align-items: center;
    }

    #download-wrapper h1 {
        font-size: 40px;
        padding: 20px;
        width: 100%;
    }


    #download-text {
        margin: 0px;
        padding-left: 0;
        padding-right: 0px;
    }
    

    #download-btn {
        margin-bottom: 10px;
    }


    #instruction-manual{
        margin-left: 210px;
    }

    #instruction-manual h1 {
        font-size: 40px;
        width: 300px;
    }

    .section-second {
        margin-left: 10px;
    }

    .section-second h2 {
        font-size: 30px;
    }

    .about-sub-p-second {
        width: 60%;
    }

    #question-sec {
        margin-left: 40px;
        width: 150%;
    }

    #question-sec h1 {
        font-size: 40px;
        width: 100%;
    }

    #question-sec-wrapper {
        width: 100%;
    }

    #email-input,
    #text-input {
        width: 100%;
    }

    #back-to-top {
        margin-left: 0;
        margin-top: 50px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        gap: 40px;
    }

    #footer-wrapper {
        flex-direction: column;
        gap: 40px;
        width: 100%;
        margin-right: 100px;
        align-items: center;
        
    }

    #second-footer-ul {
        margin-right: 10px;
        padding: 0;
    }

    footer li {
        font-size: 24px;
    }

    #logo-footer {
        margin-right: 20px;
    }

    #back-to-top {
        margin-left: 500px;
    }


}